---

import Logo from '../Logo.astro';
import FloatingMenu from './FloatingMenu.jsx';
---

<div class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 border-b border-gray-200 bg-white/95 supports-backdrop-blur:bg-white/60">
  <div class="max-w-[90rem] mx-auto">
    <div class="py-4 lg:px-8 mx-4 lg:mx-0">
      <div class="relative flex items-center">
        <a class="mr-3 flex-none overflow-hidden" href="/">
          <span class="sr-only">I in We</span>
          <Logo className="h-5" />
        </a>
        <div class="relative hidden lg:flex items-center ml-auto">
          <nav class="text-sm leading-6 font-medium text-gray-700">
            <ul class="flex space-x-8">
              <li>
                <a class="hover:text-purple-h" href="/programs">
                  Programs
                </a>
              </li>
              <li>
                <a href="/about" class="hover:text-purple-h">
                  About
                </a>
              </li>
              <li>
                <a class="hover:text-purple-h" href="/community">
                  Community
                </a>
              </li>
              <li>
                <a class="hover:text-purple-h" href="/story">
                  Story
                </a>
              </li>
            </ul>
          </nav>
          <div class="flex items-center border-l border-gray-200 ml-6 pl-6 gap-6">
            <!-- todo: i18n -->
            <a aria-label="membership" href="https://forms.gle/4GqkZByad6L2dx247" target="_blank"  class="block text-gray-400 hover:text-gray-500">
              <span class="sr-only">아이인위 멤버십 가입하기</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="w-5 h-5" fill="currentColor" stroke="currentColor" aria-hidden="true">
                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6l277.2 0c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="gap-2 ml-auto -my-1 lg:hidden">
          <FloatingMenu client:load />
        </div>
      </div>
    </div>
  </div>
</div>
