---
import Layout from '@/layouts/Layout.astro';
import Building from '../components/Building.astro';
---

<Layout title="I in We, Tech Beyond Boundaries">
  <main>
    <Building />
  </main>
</Layout>

<style>
</style>
